body 
{
background: rgb(31, 31, 31);
position: relative;
}
a
{
text-decoration:none;
cursor:pointer;
}
#wrapper1
 {
 width:1000px;
 margin:0 auto;
}
.top
{
font-size: 20px;
padding: 15px 0px 50px 0px;
}
.titlee
{
color: rgb(236, 236, 236);
float: left;
}
.social
{
}
.soc
{
float: right;
width: 50px;
}
.header
{
padding: 15px 10px 20px 0px;
background: rgb(19, 19, 19);
border-radius: 10px;
}
.h
{
margin: 0px 20px 0px 20px;
color: rgb(189, 189, 189);
font-weight: bold;
}
.h:hover
{color: rgb(255, 255, 255);
}
.i
{
float: right;
}
.header2
{
}
.slide
{
}
.side
{
margin:0 auto;
float: right;
background: rgb(19, 19, 19);
width:345px;
height:505px;
border-radius:5px;
}
.header3
{
margin:0 auto;
background: rgb(19, 19, 19);
padding: 10px 0px 44px 0px;
border-radius: 10px;
}
.h1
{
float: left;
margin: 0px 15px 0px 15px;
color: rgb(189, 189, 189);
font-size: 20px;
}
.latestreview
{
padding: 30px;
color: rgb(219, 219, 219);
font-weight: bold;
font-size: 20px;

}
.line
{
background: rgb(180, 180, 180);
height: 2px;
}
.middle
{

}
.middle1
{
margin: 29px 76px 12px 3px;
float: left;
background: rgb(19, 19, 19);
height: 1000px;
width: 697px;
border-radius: 5px;
}

.box
{
float: left;
padding: 5px 5px 5px 5px;
margin: 27px 21px 0px 10px;
background: rgb(37, 37, 37);
width: 180px;
height: 200px;
overflow: hidden;
}

.box img
{
margin: 3px 0px 0px 6px;


}

.text
{

width: 187px;
height:200px;


}
#texting
{

font-size:3;
color:#ccc;
line-height: 16px;
font-family: Helvetica;
margin: -8px 0px 0px 0px;
}
.h3{
	font-weight: bold;
	font-size:15px;
	color:#ccc;
	}

#texting1
{
float:right;
font-size:3;
font-weight: bold;
color:#ccc;
line-height: 16px;
margin: -92px -212px 1px 23px;
}

#texting12
{

font-size:3;
color:#ccc;
width: 125px;
height: 3px;
line-height: 16px;
float: left;
font-family: Helvetica;
margin: -54px -102px -1px 119px;

}
#texting12 h3
{
margin: -30px 0px 1px -1px;

font-weight: bold;
color:white;

}

#texting13 
{
font-size:3;
color:#ccc;
width: 125px;
height: 3px;

line-height: 16px;
float: left;
font-family: Helvetica;
margin: -54px -102px -1px 119px;

}
#texting14
{
font-size:3;
color:#ccc;
width: 125px;
height: 3px;

line-height: 16px;
float: left;
font-family: Helvetica;
margin: -54px -102px -1px 119px;

}
#texting14 h3
{
margin: -37px 0px 0px -90px;
font-weight: bold;
color: white;
float: left;
}
#texting15
{

width: 160px;
height: 3px;



}
#texting15 h3
{
margin: 0px 0px 0px 1px;
font-weight: bold;
color: white;
float: left;
}
#texting13 h3
{
margin: -30px 0px 1px -1px;

font-weight: bold;
color:white;

}

#texting14 
{
font-size:3;
color:#ccc;
width: 125px;
height: 3px;
line-height: 16px;
float: left;
font-family: Helvetica;
margin: -54px -102px -1px 119px;

}
#texting14 h3
{
margin: -30px 0px 1px -1px;

font-weight: bold;
color:white;

}


#texting2
{

font-size:3;
color:#ccc;
line-height: 20px;
font-family: Helvetica;
margin: 11px 0px 0px 3px;
}


.middle2
{
margin: 29px -30px 15px -70px;
background: rgb(19, 19, 19);
height: 1000px;
width: 300px;
border-radius: 5px;
float:left;
}
.bottom
{
}
.bottom1
{
margin: 8px 0px 4px 3px;
float: left;
background: rgb(19, 19, 19);
height: 200px;
width: 297px;
border-radius: 5px;
}
.box4
{
margin:0 auto;
background: rgb(37, 37, 37);
height: 183px;
width: 274px;
float: left;
margin: 16px 1px 3px -284px;

}
.bottom2
{
margin: 6px 0px 9px 8px;
background: rgb(19, 19, 19);
height: 200px;
width: 692px;
border-radius: 5px;
float: left;
}
.box2
{
margin:0 auto;
background: rgb(37, 37, 37);
float: left;
width: 31px;
height: 19px;
padding: 0px 89px 64px 1px;
margin: 7px 1px 3px 15px;

}
.box2 img
{
margin: 4px 1px 2px 9px;
}

.footer
{
margin: -1px 5px 10px 2px;
background: black;
background: rgb(19, 19, 19);
text-align: center;
height: 0px;
float: left;
border-radius: 10px;
padding: 4px 352px 32px 348px;

}
.f
{
color: rgb(189, 189, 189);
margin-right: 20px;
font-weight: bolder;
}
.header4
{
height: 30px;
}
.header5
{
float: right;
height: 26px;
margin: 0px 0px 0px 0px;
}


.h30
{
font-weight: bold;
background: rgb(19, 19, 19);
padding: 4px 239px 5px 10px;
border-radius: 5px;
color: rgb(189, 189, 189);
}
.h31
{
color: rgb(189, 189, 189);
font-weight: bold;
background: rgb(19, 19, 19);
padding: 4px 602px 5px 11px;

border-radius: 5px;

}

.box3
{
padding: 0px 222px 442px 21px;
margin: 0 auto;
background: rgb(37, 37, 37);
float: left;
width: 36px;
height: 8px;
margin: 27px 10px -6px 9px;
}
.box3 img
{
margin:11px 4px 3px 15px;

}
.box1
{
padding: 0px 287px 83px 6px;
margin:0 auto;
background: rgb(37, 37, 37);
width: 30px;
height: 30px;s
float: left;
margin: 10px 10px 10px 10px;
}
.box12
{
padding: 10px 5px 14px 6px;
margin: 0 auto;
background: rgb(37, 37, 37);
width: 269px;
height: 67px;
float: left;
margin: 10px 10px 10px 10px;
}
.box12 img
{
width: 20px;
margin:0px 0px 0px 0px;
}
.box1 img
{
float: left;
margin: 13px 1px 2px 9px;
}
#h5
{
font-weight: bold;
color: white;
margin: -81px -236px -41px 11px;
float: right;
}


